<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="li">
      <ion-segment-button value="you">
        Your Friends
      </ion-segment-button>
      <ion-segment-button value="all">
        Li
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div [ngSwitch]="li">
    <ion-list *ngSwitchCase="'all'">
      <ion-list-header>
        Li
      </ion-list-header>
    </ion-list>

    <ion-list *ngSwitchCase="'you'">
      <ion-list-header>
        My Friends
      </ion-list-header>
    </ion-list>
  </div>
</ion-content>
